<div fxLayout="column" [fxLayoutGap]="layoutGapM">
    <div fxLayout fxLayoutAlign="space-between center">
        <fb-wb-list-search (valueChanges)="search($event)" [listNames$]="listNames$"></fb-wb-list-search>
        <button mat-button color="primary" (click)="createRow()">CREATE RECORD</button>
    </div>
    <div *ngIf="rows$ | async as rows">
        <fb-wb-rows-list
            *ngIf="rows.length; else Empty"
            [listRecords]="rows"
            (deleteItem)="removeRow($event)"
        ></fb-wb-rows-list>
    </div>
    <fb-show-more-panel
        *ngIf="hasMore$ | async"
        [isLoading]="inProgress$ | async"
        (showMore)="fetchMore()"
    ></fb-show-more-panel>
    <div *ngIf="inProgress$ | async" fxLayout fxLayoutAlign="center">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="48"></mat-progress-spinner>
    </div>
    <ng-template #Empty>
        <fb-empty-search-result *ngIf="!(inProgress$ | async)"></fb-empty-search-result>
    </ng-template>
</div>
