.container-fluid {
    padding: 24px;
    min-height: calc(100vh - 134px);
}

button.mat-mdc-menu-trigger.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
    margin-left: auto;
}
