<mat-card class="fb-list-item" fxLayout fxFlexFill fxLayoutAlign="center center" [fxLayoutGap]="layoutGapM">
    <div class="fb-body-2" fxFlex>{{ summary.status }}</div>
    <div class="fb-body-2" fxFlex>{{ summary.template }}</div>
    <div class="fb-body-2" fxFlex>{{ summary.checkedRule }}</div>
    <div class="fb-body-2" fxFlex>{{ summary.summary.sum }}</div>
    <div class="fb-body-2" fxFlex>{{ summary.summary.count }}</div>
    <div class="fb-body-2" fxFlex>{{ numberFormat(summary.summary.ratio) | number: '.1-4' }}</div>
</mat-card>
