<div fxLayout="column" [fxLayoutGap]="layoutGapM">
    <div fxLayout fxLayoutAlign="space-between center">
        <fb-approve-candidates-list-raws-search
            (valueChanges)="search($event)"
        ></fb-approve-candidates-list-raws-search>
        <button mat-button color="primary" (click)="approveCandidates()">APPROVE</button>
    </div>
    <fb-approve-candidate-header (changedAll)="onChangeAll($event)"></fb-approve-candidate-header>
    <div *ngIf="candidates$ | async as candidates">
        <div *ngFor="let candidate of candidates" fxLayout="column" [fxLayoutGap]="layoutGapM">
            <fb-approve-candidate-item
                [candidate]="candidate"
                (approve)="onChange($event)"
                [enabled]="allSelected"
            ></fb-approve-candidate-item>
        </div>
    </div>
    <fb-show-more-panel
        *ngIf="hasMore$ | async"
        [isLoading]="inProgress$ | async"
        (showMore)="fetchMore()"
    ></fb-show-more-panel>
    <div *ngIf="inProgress$ | async" fxLayout fxLayoutAlign="center">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="48"></mat-progress-spinner>
    </div>
    <ng-template #Empty>
        <fb-empty-search-result *ngIf="!(inProgress$ | async)"></fb-empty-search-result>
    </ng-template>
</div>
