<fb-list-header>
    <div class="fb-body-2" fxFlex="120px">ID</div>
    <div class="fb-body-2" fxFlex="120px">STATUS</div>
    <div class="fb-body-2" fxFlex>PARTY ID</div>
    <div class="fb-body-2" fxFlex>SHOP ID</div>
    <div class="fb-body-2" fxFlex="120px">AMOUNT</div>
    <div class="fb-body-2" fxFlex="120px">CURRENCY</div>
    <div class="fb-body-2" fxFlex>EMAIL</div>
    <div class="fb-body-2" fxFlex="120px">TYPE</div>
    <div class="fb-body-2" fxFlex="168px">EVENT TIME</div>
</fb-list-header>
