<form fxflexfill [formGroup]="form">
    <div fxLayoutGap="10px grid" fxFlexFill fxLayout.lt-sm="column" class="row-margin">
        <mat-form-field appearance="outline">
            <input matInput placeholder="merchant" formControlName="partyId" autocomplete="false" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="shop" formControlName="shopId" autocomplete="false" />
        </mat-form-field>
        <mat-form-field class="multi-select" appearance="outline" *ngIf="currencies$ | async as currencies">
            <mat-select formControlName="types" multiple>
                <mat-option *ngFor="let name of currencies" value="{{ name }}">{{ name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="multi-select" appearance="outline" *ngIf="currencies$ | async as currencies">
            <mat-select formControlName="times" multiple>
                <mat-option *ngFor="let name of currencies" value="{{ name }}">{{ name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>
